<?xml version="1.0"?>
<!--
/**
 * @category 	  Upment
 * @package 	  Upment_Bannerslider
 * @copyright 	Copyright (c) 2019 Upment (https://www.upment.com/)
 */
-->
<config>
  <modules>
    <Upment_Bannerslider>
      <version>0.0.1</version>
    </Upment_Bannerslider>
  </modules>
  <global>

    <helpers>
      <bannerslider>
        <class>Upment_Bannerslider_Helper</class>
      </bannerslider>
    </helpers>

    <blocks>
      <bannerslider>
        <class>Upment_Bannerslider_Block</class>
      </bannerslider>
    </blocks>

    <models>
      <bannerslider>
        <class>Upment_Bannerslider_Model</class>
        <resourceModel>bannerslider_mysql4</resourceModel>
      </bannerslider>
      <bannerslider_mysql4>
        <class>Upment_Bannerslider_Model_Mysql4</class>
        <entities>
          <banner>
            <table>upment_banner</table>
          </banner>
        </entities>
      </bannerslider_mysql4>
    </models>

    <resources>
      <bannerslider_setup>
        <setup>
          <module>Upment_Bannerslider</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bannerslider_setup>
    </resources>

  </global>


  <admin>
    <routers>
      <bannerslider>
        <use>admin</use>
        <args>
          <module>Upment_Bannerslider</module>
          <frontName>bannerslider</frontName>
        </args>
      </bannerslider>
    </routers>
  </admin>

  <adminhtml>
    <menu>
      <upment module="bannerslider">
        <title>Upment</title>
        <sort_order>60</sort_order>
        <children>
          <bannerslider module="bannerslider">
            <title>Banner Slider</title>
            <sort_order>20</sort_order>
            <action>bannerslider/adminhtml_bannerslider</action>
          </bannerslider>
        </children>
      </upment>
    </menu>
    <acl>

      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <upment translate="title" module="bannerslider">
              <title>Upment</title>
              <sort_order>60</sort_order>
              <children>
                <bannerslider translate="title">
                  <title>Banner Slider</title>
                  <sort_order>0</sort_order>
                </bannerslider>
              </children>
            </upment>
          </children>
        </admin>
      </resources>
    </acl>

    <layout>
      <updates>
        <bannerslider>
          <file>bannerslider.xml</file>
        </bannerslider>
      </updates>
    </layout>

  </adminhtml>

  <frontend>
      <routers>
          <bannerslider>
              <use>standard</use>
              <args>
                  <module>Upment_Bannerslider</module>
                  <frontName>bannerslider</frontName>
              </args>
          </bannerslider>
      </routers>
      <layout>
          <updates>
              <bannerslider>
                  <file>bannerslider.xml</file>
              </bannerslider>
          </updates>
      </layout>
  </frontend>


</config>
